.title {
  margin: none;
  padding: 5em 2em;
}

.header_space {
  margin: none;
  padding: none;
  width: 100%;
  height: 5em;
}

.content {
  margin: none;
  padding: 1em 2em;
  justify-content: center;
  display: flex;
}
